<!-- <p>home works!</p>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->

  <!-- <h6>{{data|json}}</h6> -->
<!-- 
  <div class="container"> -->
  
<!-- </div> -->


<div class="container">
   
    <div class="row">
        <ng-template ngFor let-hero [ngForOf]="data">
            <div class="col-sm">
      <div  class="card">
        <img [src]="hero.image" class="card-img-top" alt="...">
        <div class="col-sm" class="card-body">
            {{hero.category}}
          </div>
        </div>
      </div>
      
      <!-- <div class="col-sm">
        One of three columns
      </div> -->
    </ng-template>
    </div>

  </div>