.card{
//    display: flex;
//    flex-direction: row;
   width:12rem;
   height:20rem;
}

.card-img-top{
  height:12rem;
}

.card-body{
    height:8rem;

}

.container{
    margin-top: 6rem;

}

.col-sm{
    margin-top:20px
}






// .container{
//     display: flex; /* Set container to flex layout */
//   flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
//   gap: 20px; 
// }

// .card {
//     width: 100%;
//   }

// .container{
//     display:block;
//     flex-direction: column;
    
// }